*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background-color:#00050d;
    color:white;
}


.navbar{
    height:60px;
    background:#00050d;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 40px;
    border-bottom:1px solid #1c2c3d;
}

.logo{
    font-size:22px;
    font-weight:bold;
}

.menu{
    display:flex;
    list-style:none;
    gap:25px;
}

.menu a{
    color:#d1d1d1;
    text-decoration:none;
    font-size:14px;
}

.menu a:hover{
    color:white;
}

.nav-right{
    display:flex;
    align-items:center;
    gap:18px;
}

.join-btn{
    background:#1a98ff;
    color:white;
    border:none;
    padding:8px 18px;
    border-radius:5px;
    cursor:pointer;
}


.hero{
    display:flex;
    height:550px;
}

.hero-content{
    width:40%;
    padding:60px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.hero-content h1{
    font-size:50px;
    margin-bottom:20px;
}

.hero-content p{
    font-size:18px;
    color:#cfcfcf;
    margin-bottom:30px;
    line-height:1.5;
}

.hero-content button{
    width:220px;
    padding:14px;
    border:none;
    border-radius:8px;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
}

.hero-image{
    width:60%;
}

.hero-image img{
    width:100%;
    height:100%;
    object-fit:cover;
}


.rental{
    display:flex;
    height:500px;
}

.rental-image{
    width:60%;
}

.rental-image img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.rental-content{
    width:40%;
    padding:60px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.rental-content h1{
    font-size:42px;
    margin-bottom:20px;
}

.rental-content p{
    font-size:17px;
    color:#cccccc;
    margin-bottom:25px;
}

.rental-content button{
    width:150px;
    padding:12px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:15px;
    font-weight:bold;
}


.subscription{
    background:#011321;
    padding:70px 50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.subscription-text{
    width:35%;
}

.subscription-text h1{
    font-size:40px;
    margin-bottom:20px;
}

.subscription-text p{
    color:#b8b8b8;
    line-height:1.7;
}

.channel-grid{
    width:55%;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:15px;
}

.channel{
    height:120px;
    background:linear-gradient(135deg,#1a6fa8,#0b3f6e);
    border-radius:12px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    text-align:center;
    cursor:pointer;
    transition:0.3s;
}

.channel:hover{
    transform:scale(1.05);
}


footer{
    background:#1b1b1b;
    text-align:center;
    padding:40px;
}

footer h2{
    margin-bottom:15px;
}

footer a{
    color:#4ea3ff;
    text-decoration:none;
    margin:0 10px;
}

footer p{
    margin-top:15px;
    color:#808080;
}